@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

html,body{
    height: 100vh;
    margin: 0;
    width: 100%;
}
body {
    background: linear-gradient(-45deg, #242323, #323d3a);
    background-size: 100% 100%;
    background-attachment: fixed;
}
body::-webkit-scrollbar {
    width: 13px;
    background-color: #5a5a5a;
  }
::-webkit-scrollbar {
    width: 13px;
    background: none;
  }
.notes-list-item::-webkit-scrollbar {
    width: 13px;
    border-radius: 10px;
    background-color: #3a3a3a;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(110, 110, 110, 0.3);
    border-radius: 10px;
    background-color: #686868;
  }
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(0deg, #9e82d1, #718cbd);
    border-radius: 10px;
    outline: none;
  }
.notes {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.notes * {
    font-family:'Segoe UI';
}
.notes-container {
    max-width: 980px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
	min-height: 100vh;
}
.header {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
.head-text {
    margin-right: auto;
    color:#79b0e4;
    font-size: 35px;
    font-family: 'Maven Pro', sans-serif;
}

.notes-add-button {
   background-image: linear-gradient(to right, #1d71d1 0%, #b43dec  40% 60%, #f16730 90%);
   margin: 20px 10px;
   border: none;
   padding: 15px 40px;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   transition: 0.5s;
   background-size: 250% auto;
   color: white;            
   box-shadow: 0 0 20px rgba(37, 37, 37, 0.671);
   border-radius: 10px;
   display: block;
   height: 50px;
}

.notes-add-button:hover {
    background-position: 90% 40%;
    text-decoration: none;
}
.notes-list {
    height: 100%;
    display: grid;
	grid-gap: 1.2rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}
.text-blur {
    margin: auto;
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    overflow: auto;
    background:#4e4e4e;
    opacity: 0.5;
}
::placeholder{
    color: rgba(245, 245, 245, 0.596);
}
.text-preview {
    display: none;
    position: fixed;
    top: 20%; left: 15%;
    overflow: auto;
    margin: auto;
    width: 60%;
    align-items: center;
    overflow: hidden;
    color: thistle;
    justify-content: center;
    box-shadow: 0 0 30px #7474747e;
    border-radius: 20px;
    padding: 3em;
    background: linear-gradient(45deg, #5f99a1 0%, #4fb895 100%);
}
.text-body {
    border: none;
    outline: none;
    position: relative;
    align-items: center;
    justify-content: stretch;
    overflow:auto;
    width: 90%;
    font-size: 2.1em;
    line-height: 1.5;
    padding: 1em;
    color: rgb(247, 247, 247);
    background: transparent;
    border-radius: 20px;
    min-height: 200px;
    resize: none;
}
.save-btn, .cancel-btn{
    float: right;
    background: linear-gradient(-45deg, #82a789, #6e8673);
    border: none;
    margin: 10px 8px 0px 8px;
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 0em;
    height: 45px;
    width: 170px;
}
.save-btn.active{
    background: linear-gradient(-45deg, #63ce77, #379449);
}
.save-btn.active:hover{
    background: linear-gradient(-45deg, #26ce45, #0e9c2b);
}
.cancel-btn:hover{
    background: linear-gradient(-45deg, #26ce45, #0e9c2b);
}
.notes-list-item {
    background: linear-gradient(160deg, #6b6b6bd7 0%, #4b6d72e0 40%, #7dabc083 100%);
	border-radius: 10px;
    font-family: 'Segoe UI';
	padding: 0.4em 1em 1em 1em;
	height: 170px;
    overflow: auto;
    overflow-wrap: break-word;
    mix-blend-mode: luminosity;
    color: thistle;
	display: flex;
    box-shadow: 2px 2px 10px #3030307e;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}

#exit {
    margin-left: 10px;
}
.icon {
    margin:0 0 0 auto;
    transition: all 0.3s ease;   
    border: none;
    display: flex;
    cursor: pointer;
    color: rgb(159, 172, 177);
    outline: none;
}
.icon :hover {
    transition: all 0.3s ease; 
    color: rgb(238, 238, 238);
}
.notes-small-body {
    margin-top: 7px;
    padding: 20px 1px 10px 1px;
}
.theme-toggle{
    color: #6e8673;
    cursor: pointer;
    border: none;
    margin: auto 12px auto auto;
    align-items: center;
    justify-content: center;
}
.theme-toggle:hover{
    color:#64ceb7;
}
