@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');


html,body{
    margin: 0;
    padding: 0;
}
body {
    /* background: linear-gradient(-45deg, #dddddd, #aabecc); */
    background-color: #61777c; 
    /* background-image: url("https://source.unsplash.com/rKv4HduvzIE/1920x1080"); */
    background-image: url("https://source.unsplash.com/cvQ6wD3bPYE/1920x1080");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Zen Kurenaido', sans-serif;
    background-blend-mode:overlay;
}
::-webkit-scrollbar {
    width: 13px;
    background: none;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #cfcfcf;
  }
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(0deg, #9e82d1, #718cbd);
    border-radius: 10px;
    outline: none;
}

.notes-container {
    max-width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
    margin-bottom: 20px;
	padding-left: 10px;
	min-height: 100%;
}
.header {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.head-text {
    margin-right: auto;
    cursor: default;
    color:#2b4a83;
    font-size: 2.3rem;
    font-family: 'Roboto',Helvetica;
    /* text-shadow: 3px 3px 5px #2727278a; */
}
@media only screen and (max-width: 520px) {
    body {
        background-image: url("https://picsum.photos/768/1024?random=1");
    }
    .notes-add-button {
        flex-grow: 1;
        font-size: 0.8rem;
    }
    .head-text {
        margin-right: 20%;
        font-size: 1.8rem;
    }
    .header {
        margin-bottom: 10px;
    }
    .text-preview {
        padding: 1em 2em;
        border-radius: 10px;
    }
    .text-preview button{
        font-size: 0.8rem;
    }
    .text-body{
        font-size: 1.2em;
    }
}
  
.notes-add-button {
   background-image: linear-gradient(to right, #1d71d1 0%, #b43dec  40% 60%, #f16730 90%);
   margin: 24px 10px;
   border: none;
   font-family: 'Zen Kurenaido', sans-serif;
   padding: 8px 30px;
   font-size: 0.9rem;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   transition: 0.5s;
   background-size: 250% auto;
   color: white;           
   box-shadow: 0 0 4px rgba(94, 94, 94, 0.671); 
   /* box-shadow: 0 0 20px rgba(94, 94, 94, 0.671); */
   border-radius: 10px;
   display: block;
}

.notes-add-button:hover {
    background-position: 90% 40%;
    text-decoration: none;
}
.notes-list {
    height: 100%;
    display: grid;
	grid-gap: 1.4rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}
.textt-blur {
    margin: auto;
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    overflow: auto;
    background:#4e4e4e;
    opacity: 0.5;
}
.text-preview {
    display: none;
    position: fixed;
    top: 50%; left: 50%;
    overflow: hidden;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 50%;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 2em 3em 4em 3em; 
    /* box-shadow: 0 0 20px #6d6d6d7e; */
    border: solid 1px #bfc0bf8a;
    backdrop-filter: drop-shadow(0px 0px 10px rgba(100, 100, 100, 0.39));
    backdrop-filter: grayscale(30%);
    backdrop-filter: opacity(10%);
    backdrop-filter: blur(10px);
    background: linear-gradient(45deg, #f2fffcab 0%, #def7ef52 100%);
}

.text-body {
    border: none;
    outline: none;
    align-items: center;
    justify-content: stretch;
    overflow: auto;
    width: 100%;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 1.8em;
    line-height: 1.5;
    color: rgb(58, 58, 58);
    background: transparent;
    height: 90%;
    resize: none;
}
.imp{
    float: left;
    background-color: #6e8673;
    border: none;
    margin: 10px 8px 0px 8px;
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    transition: 0.3s ease;
    padding: 10px 15px;
}
.imp:hover{
    background-color: #55635a;
}
.imp.active{
    background-color: #42a2da;
}
.imp.active1{
    background-color: #e99547;
}
.save-btn, .cancel-btn{
    float: right;
    background: linear-gradient(-45deg, #82a789, #6e8673);
    border: none;
    margin: 10px 8px 0px 8px;
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 10px 15px;
    width: auto;
}
.save-btn.active{
    background: linear-gradient(-45deg, #63ce77, #379449);
}
.save-btn.active:hover{
    background: linear-gradient(-45deg, #26ce45, #0e9c2b);
}
.cancel-btn:hover{
    background: linear-gradient(-45deg, #26ce45, #0e9c2b);
}
.notes-list-item {
    background: rgb(238, 238, 238);
	border-radius: 10px;
	padding: 0.4em 0.4em 1em 1em;
	height: 170px;
    font-weight: bold;
    color: rgb(63, 63, 63);
	display: flex;
    box-shadow: 2px 2px 4px #5353531c;
	flex-direction: column;
    /* border: solid 1px rgba(221, 219, 219, 0.712); */
	justify-content: space-between;
	white-space: pre-wrap;
}
.inside-text-body::-webkit-scrollbar {
    width: 4px;
    border-radius: 4px;
    background-color: #ebebeb;
}
.inside-text-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(179, 179, 179, 0.3);
}
.inside-text-body{
    flex-grow: 1;
    display: flex;
    margin-top: 6px;
    overflow: auto;
    overflow-wrap: break-word;
}
#exit {
    margin-left: 10px;
}
.topBar {
    display: flex;
    justify-content: space-between;
    margin-right: 0.3em;
}
.mark {
    height: 6px;
    flex-grow: 1;
    border-radius: 6px;
    background: #bebebe;
    margin: 5px 20px 0 0;
    padding:0 10px 0 0;
}
.icon {
    margin: 3px 0 0 auto;
    transition: all 0.3s ease;   
    border: none;
    display: flex;
    cursor: pointer;
    color: rgb(163, 180, 187);
}
.icon :hover {
    transition: all 0.3s ease; 
    color: rgb(22, 140, 187);
}
.theme-toggle{
    color: #b8ddc1;
    cursor: pointer;
    border: none;
    text-shadow: 1px 1px 3px #9b88885b;
    /* text-shadow: 0 0 10px #2c2c2c80; */
    margin: auto 12px auto auto;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}
.theme-toggle:hover{
    color:#406ca7;
}
