@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

html,body{
    height: 100vh;
    margin: 0;
    width: 100%;
}
body {
    background: linear-gradient(-45deg, #dddddd, #aabecc);
    background-size: 100% 100%;
    background-attachment: fixed;
}
body::-webkit-scrollbar {
    width: 13px;
    background-color: #95a4c0;
  }
::-webkit-scrollbar {
    width: 13px;
    background: none;
  }
.notes-list-item::-webkit-scrollbar {
    width: 13px;
    border-radius: 10px;
    background-color: #c7c7c7;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #cfcfcf;
  }
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(0deg, #9e82d1, #718cbd);
    border-radius: 10px;
    outline: none;
  }
.notes {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.notes * {
    font-family:'Segoe UI';
}
.notes-container {
    max-width: 980px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
	min-height: 100vh;
}
.header {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
.head-text {
    margin-right: auto;
    color:#0c467c;
    font-size: 35px;
    font-family: 'Maven Pro',sans-serif;
}

.notes-add-button {
   background-image: linear-gradient(to right, #1d71d1 0%, #b43dec  40% 60%, #f16730 90%);
   margin: 20px 10px;
   border: none;
   padding: 15px 40px;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   transition: 0.5s;
   background-size: 250% auto;
   color: white;            
   box-shadow: 0 0 20px rgba(165, 165, 165, 0.671);
   border-radius: 10px;
   display: block;
   height: 50px;
}

.notes-add-button:hover {
    background-position: 90% 40%;
    text-decoration: none;
}
.notes-list {
    height: 100%;
    display: grid;
	grid-gap: 1.2rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}
.text-blur {
    margin: auto;
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    overflow: auto;
    background:#4e4e4e;
    opacity: 0.5;
}
.text-preview {
    display: none;
    position: fixed;
    top: 50%; left: 50%;
    overflow: auto;
    transform: translate(-50%,-50%);
    margin: auto;
    width: 80%;
    height: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 3em;
    background: linear-gradient(45deg, #c8e6df 0%, #99ebd0 100%);
}
.text-body {
    border: none;
    outline: none;
    align-items: center;
    justify-content: stretch;
    overflow: auto;
    width: 100%;
    font-size: 1.8em;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    background: transparent;
    border-radius: 20px;
    height: 90%;
    resize: none;
}
.imp{
    float: left;
    background-color: #6e8673;
    border: none;
    margin: 10px 8px 0px 8px;
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 10px 15px;
}
.imp:hover{
    background-color: #37a058;
}
.imp.active{
    background-color: #2b75b1;
}
.save-btn, .cancel-btn{
    float: right;
    background: linear-gradient(-45deg, #82a789, #6e8673);
    border: none;
    margin: 10px 8px 0px 8px;
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 10px 15px;
    width: auto;
}
.save-btn.active{
    background: linear-gradient(-45deg, #63ce77, #379449);
}
.save-btn.active:hover{
    background: linear-gradient(-45deg, #26ce45, #0e9c2b);
}
.cancel-btn:hover{
    background: linear-gradient(-45deg, #26ce45, #0e9c2b);
}
.k{
    background:#2ebce0ab;
    color: #3a62ac;
}
.notes-list-item {
    background: #dad9d9;
	border-radius: 10px;
    font-family:'Segoe UI';
	padding: 0.4em 1em 1em 1em;
	height: 170px;
    overflow: auto;
    overflow-wrap: break-word;
	display: flex;
    box-shadow: 2px 2px 10px #9292927e;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}

#exit {
    margin-left: 10px;
}
.topBar {
    display: flex;
    justify-content: space-between;
}
.mark {
    height: 10px;
    max-width: 200px;
    width: 100%;
    border-radius: 20px;
    background: #bebebe;
    margin: 5px 20px 0 0;
    padding: 0%;
}
.icon {
    margin: 3px 0 0 auto;
    transition: all 0.3s ease;   
    border: none;
    display: flex;
    cursor: pointer;
    color: rgb(163, 180, 187);
}
.icon :hover {
    transition: all 0.3s ease; 
    color: rgb(22, 140, 187);
}
.theme-toggle{
    color: #6e8673;
    cursor: pointer;
    border: none;
    margin: auto 12px auto auto;
    align-items: center;
    justify-content: center;
}
.theme-toggle:hover{
    color:#406ca7;
}
