html,body{
    height: 100%;
    margin: 0;
}
.notes {
    display: flex;
    height: 100%;
}
.notes * {
    font-family: sans-serif;
}
.notes-sidebar {
    border-right: 2px solid #dddddd;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 300px;
}
